<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Principal</title>
	<link rel="stylesheet" href="/static/css/normalize.css" />
	<!--<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />-->
	<link rel="stylesheet" href="/static/css/estilos.css" />
	<link rel="stylesheet" href="/static/css/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="/static/wanagow.png" />
		</figure>
		<h1 id="titulo_header">Wanagow-Promotores</h1>
		<figure id="avatar">
			<figcation>
				<strong><i>Bienvenido:{{request.user}}</i></strong>
			</figcation>
			<img src="/static/wanagow.png">
			
		</figure>
	</header>
	<nav>
		<ul>
		<li><a href="/miseventos">Mis Eventos</a></li>
		<li id="micuent"><a href="/micuenta">Mi Cuenta</a></li>
		<li><a href="/cerrar">Cerrar Sesión</a></li>
		<li id="publicar_nav"><a href="{% url "add" %}">Nuevo Evento</a></li>
			
		</ul>
	</nav>
	<section id="contenido">
			<h4>Editar Evento</h4>
			<form action="." method="post">{% csrf_token %}
              {% csrf_token %}
              {{formulario.as_p}}
              <input type='submit' value='Registrarse'> 
        </form>
	</section>
	<footer>
		<p><strong>Powered by Team Wanagow</strong></p>
		<p>Wanagow 2013 ®</p>
		<figure>
			<img src="/static/wanagow.png">
		</figure>
	</footer>
</body>
</html>









