<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Wanagow</title>
	<link rel="stylesheet" href="/static/css/normalize.css" />
	<!--<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />-->
	<link rel="stylesheet" href="/static/css/estilos.css" />
	<link rel="stylesheet" href="/static/css/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="/static/wanagow.png"/>
		</figure>
		<h1 id="titulo_header">Wanagow-Promotores</h1>
		<figure id="avatar">
			<img src="/static/logo.png" />
			<figcaption><strong><i>Bienvenido:{{request.user}}</i></strong></figcaption>
		</figure>
	</header>
	<nav>
		<ul>
			<li><a href="/miseventos">Mis Eventos</a></li>
		<li id="micuent"><a href="/micuenta">Mi Cuenta</a></li>
		<li><a href="/cerrar">Cerrar Sesión</a></li>
			<li id="flechita_nav"><a href="#"></a></li>
			{% for cat in eventos %}
			    <li><a href="{% url "categoria" cat.pk %}">{{evento}}</a></li>
			{% endfor %}
			<li id="publicar_nav"><a href="#">Publicar</a></li>
		</ul>
	</nav>
	<section class="registrar">
		
		<form method="post" enctype="multipart/form-data">
	        <article class="evento">
	        	<h1>Registar Evento</h1>
		        {% csrf_token %}
			    {{form.as_p}}
	        </article>
		    
		    <article class="ubicacion">
		    	
		    	<input class='boton' value='Guardar' type="submit">
		    </article>
		    
		    
		</form>

	</section>
	<footer>
		<p><strong>Powered by Team Wanagow</strong></p>
		<p>Wanagow 2013 ®</p>
	</footer>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function() {
	    $('#id_fechaevento').datetimepicker();
	    
	});
</script>
</body>
</html>









