<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Mis Eventos</title>
	<link rel="stylesheet" href="normalize.css" />
	 <!--{<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />-->
	<link rel="stylesheet" href="/static/estilos.css" />
	<link rel="stylesheet" href="/static/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="/static/wanagow.png" />
		</figure>
		<h1 id="titulo_header">Wanagow-Promotores</h1>
		<figure id="avatar">
			<figcation>
				<strong><i>Bienvenido:{{request.user}}</i></strong>
			</figcation>
			<img src="/static/logo.png">
			
		</figure>
	</header>
	<nav>
		<ul>
		<li><a href="/miseventos">Mis Eventos</a></li>
		<li id="micuent"><a href="/micuenta">Mi Cuenta</a></li>
		<li><a href="/cerrar">Cerrar Sesión</a></li>
		<li id="publicar_nav"><a href="{% url "add" %}">Nuevo Evento</a></li>
			
		</ul>
	</nav>
	<section id="contenido">
			{% for even in evento %}
				<article class="item">
					<figure class="imagen_item">
						<a href="/eventosdetalle/{{even.pk}}"><img src="{{even.imagenevento}}"></a>
					</figure>
					
					<h2 class="titulo_item">
						<a href="/eventosdetalle/{{even.pk}}">
							{{even.titulo}} 
						</a>
					</h2>
					
					<div class="autor_item">
						{{even.fechaevento}}
						 <a id="costo">{{even.costoevento}}</a>
					</div>
					
					<div class="datos_item">
						<a class="tag_item">{{even.descripcipn}}</a>
					</div>
				</article>
			{% endfor%}

	</section>
	<footer>
		<p><strong>Powered by Team Wanagow</strong></p>
		<p>Wanagow 2013 ®</p>
		<figure>
			<img src="/static/wanagow.png">
		</figure>
	</footer>
</body>
</html>









