<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Mis Eventos</title>
	<link rel="stylesheet" href="normalize.css" />
	 <!--{<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />-->
	<link rel="stylesheet" href="/static/estilos.css" />
	<link rel="stylesheet" href="/static/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="/static/logo.png" />
		</figure>
		<h1 id="titulo_header">Wanagow-Promotores</h1>
		<figure id="avatar">
			<figcation>
				<strong><i>Bienvenido:{{request.user}}</i></strong>
			</figcation>
			<img src="/static/logo.png">
			
		</figure>
	</header>
	<nav>
		<ul>
		<li><a href="/miseventos">Mis Eventos</a></li>
		<li id="micuent"><a href="/micuenta">Mi Cuenta</a></li>
		<li><a href="/cerrar">Cerrar Sesión</a></li>
		<li id="publicar_nav"><a href="{% url "add" %}">Nuevo Evento</a></li>
			
		</ul>
	</nav>
	<section id="contenido">
			<ul>
			{% for cat in eventos %}
			 <article class="item">
				<figure class="imagen_item">
					<img src="{{cat.imagenevento}}">
				</figure>
				<h2 class="titulo_item">
					<a href="{% url "evento" cat.pk %}">
						{{cat}}
					</a>
				</h2>
				<div class="tipoE">
					<a id="tipoE">{{cat.tipoevento}}</a>
				</div>
				<div class="descripcion">
					<a id="descripcion">{{cat.descripcipn}}</a>
				</div>
				<div class="fecha">
					<a id="fecha">{{cat.fechaevento}}</a>
				</div>
				<div class="hora">
					<a id="hora">{{cat.hora}}</a>
				</div>
				<div class="promotor">
					 <a id="promotor">{{cat.Promotor}}</a>
				</div>
				<div class="costo">
					 <a id="costo">${{cat.costoevento}}</a>
				</div>
				
				<div class="destino">
					<a id="destino">{{cat.destino}}</a>
				</div>
				{% if cat.activo%}
				<div class="activo">
					<a id="activo">Disponible</a>
				{% else %}
					<div class="activo">
					<a id="activo">No Disponible</a>
				</div>
				{% endif %}
			</article>

			{% endfor %}
			
			</ul>

	</section>
	<footer>
		<p><strong>Powered by Team Wanagow</strong></p>
		<p>Wanagow 2013 ®</p>
		<figure>
			<img src="/static/Proyect.png">
		</figure>
	</footer>
</body>
</html>









