<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />

  <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Wanagow Bienvenido</title>
  <link rel="stylesheet" href="normalize.css" />
   <!--{<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />-->
  <link rel="stylesheet" href="/static/estilos.css" />
  <link rel="stylesheet" href="/static/responsive.css" />
    </head>
      <body>
      <header>
    <figure id="logo">
      <img src="/static/wanagow.png" />
    </figure>
    <h1 id="titulo_header">Wanagow-Promotores</h1>
    <figure id="avatar">
      <img src="/static/logo.png">
     </figure>
    </header> 
        <h1>Registrate</h1>           
        <form action="." method="post">{% csrf_token %}
              {% csrf_token %}
              {{formulario.as_p}}

              <input type='submit' value='Registrarse'> 
        </form>
    <footer>
		<p><strong>Powered by Team Wanagow</strong></p>
		<p>Wanagow 2013 ®</p>
		<figure>
			<img src="/static/wanagow.png">
		</figure>
	</footer>
</body>
</html>
